{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}
  {{ title }} - PICTURE-C
  {% else %}
  PICTURE-C Control
  {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">PICTURE-C</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a> </li>
                    <li><a href="{{ url_for('sim921settings') }}">SIM921</a></li>
                    <li><a href="{{ url_for('sim960settings') }}">SIM960</a></li>
                    <li><a href="{{ url_for('hemts') }}">HEMT</a></li>
                    <li><a href="{{ url_for('ramp_settings') }}">Ramp Config</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function doSff(dest, opt) {
            $.post('/reporter', {
                abcd: opt,
                destination: dest
            }).done(function(response) {
                $(dest).text(response['temps'])
            }).fail(function() {
                $(dest).text('Failure');
            });
        }
    </script>

    <script>
        function doStuff(dest, opt) {
            $.post('/report', {
                rediskey: opt,
                destination: dest
            }).done(function(response) {
                $(dest).text(response['value'])
            }).fail(function() {
                $(dest).text('Failure');
            });
        }

        function doMore(dest, opt) {
            doStuff(dest, opt);
            setInterval( function () { doStuff(dest, opt); }, 1000);
        }
    </script>
{% endblock %}
