{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block title %}
  {% if title %}
  {{ title }} - PICTURE-C
  {% else %}
  PICTURE-C Control
  {% endif %}
{% endblock %}

{% block body %}
<div class="sidenav" style="height:100%; width: 175px; position:fixed; z-index: 1; top: 0; left: 0; overflow-x: hidden; padding-top: 10px; background-color: #111">
    <a href="{{ url_for('index') }}" style="padding: 6px 8px 6px 8px; text-decoration: none; font-size: 25px; color: #818181; display: block">Home</a>
    <a href="{{ url_for('settings') }}" style="padding: 6px 8px 6px 8px; text-decoration: none; font-size: 25px; color: #818181; display: block">Settings</a>
    <a href="{{ url_for('ramp_settings') }}" style="padding: 6px 8px 6px 8px; text-decoration: none; font-size: 25px; color: #818181; display: block">Test Page</a>
</div>

<div class="sidenav" style="height:100%; width: 175px; position:fixed; z-index: 1; top: 0; right: 0; overflow-x: hidden; padding-top: 10px; background-color: #111">
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Device T:</div><div id="Temp_Report" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">K</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>LN2 T:</div><div id="Nitrogen_Temp" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">K</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>LHe T:</div><div id="Helium_Temp" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">K</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Magnet Current:</div><div id="Meas_Current" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">A</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Heatswitch:</div><div id="heatswitch" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left"></div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Magnet Status:</div><div id="Magnet_Status" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left"></div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 1 V<sub>drain</sub>:</div><div id="Hemt1Vd" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 2 V<sub>drain</sub>:</div><div id="Hemt2Vd" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 3 V<sub>drain</sub>:</div><div id="Hemt3Vd" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 4 V<sub>drain</sub>:</div><div id="Hemt4Vd" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 5 V<sub>drain</sub>:</div><div id="Hemt5Vd" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 1 V<sub>gate</sub>:</div><div id="Hemt1Vg" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 2 V<sub>gate</sub>:</div><div id="Hemt2Vg" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 3 V<sub>gate</sub>:</div><div id="Hemt3Vg" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 4 V<sub>gate</sub>:</div><div id="Hemt4Vg" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 5 V<sub>gate</sub>:</div><div id="Hemt5Vg" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">V</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 1 I<sub>drain</sub>:</div><div id="Hemt1Id" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">mA</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 2 I<sub>drain</sub>:</div><div id="Hemt2Id" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">mA</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 3 I<sub>drain</sub>:</div><div id="Hemt3Id" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">mA</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 4 I<sub>drain</sub>:</div><div id="Hemt4Id" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">mA</div></div>
    <div style="padding: 12px 8px 12px 8px; text-decoration: none; font-size: 15px; color: #818181; display: block"><div>Hemt 5 I<sub>drain</sub>:</div><div id="Hemt5Id" style="display: inline; float: left; padding-left: 3px; padding-right: 3px"></div><div style="display: inline; float: left">mA</div></div>
</div>

    <script>
        function ud_base() {
            var source = new EventSource("/listener");
            source.addEventListener("message", function (e) {
                var newdata = JSON.parse(e.data);
                console.log("Message: ", newdata);
                update_div("#Helium_Temp", "status:temps:lhetank", newdata, true);
                update_div("#Nitrogen_Temp", "status:temps:ln2tank", newdata, true);
                update_div("#Temp_Report", "status:temps:mkidarray:temp", newdata, true);
                update_div("#Meas_Current", "status:device:sim960:current-setpoint", newdata, true);
                update_div("#Magnet_Status", "status:magnet:state", newdata);
                update_div("#heatswitch", "device-settings:currentduino:heatswitch", newdata);
                update_div("#Hemt1Vd", "status:feedline1:hemt:drain-voltage-bias", newdata, true);
                update_div("#Hemt2Vd", "status:feedline2:hemt:drain-voltage-bias", newdata, true);
                update_div("#Hemt3Vd", "status:feedline3:hemt:drain-voltage-bias", newdata, true);
                update_div("#Hemt4Vd", "status:feedline4:hemt:drain-voltage-bias", newdata, true);
                update_div("#Hemt5Vd", "status:feedline5:hemt:drain-voltage-bias", newdata, true);
                update_div("#Hemt1Vg", "status:feedline1:hemt:gate-voltage-bias", newdata, true);
                update_div("#Hemt2Vg", "status:feedline2:hemt:gate-voltage-bias", newdata, true);
                update_div("#Hemt3Vg", "status:feedline3:hemt:gate-voltage-bias", newdata, true);
                update_div("#Hemt4Vg", "status:feedline4:hemt:gate-voltage-bias", newdata, true);
                update_div("#Hemt5Vg", "status:feedline5:hemt:gate-voltage-bias", newdata, true);
                update_div("#Hemt1Id", "status:feedline1:hemt:drain-current-bias", newdata, true);
                update_div("#Hemt2Id", "status:feedline2:hemt:drain-current-bias", newdata, true);
                update_div("#Hemt3Id", "status:feedline3:hemt:drain-current-bias", newdata, true);
                update_div("#Hemt4Id", "status:feedline4:hemt:drain-current-bias", newdata, true);
                update_div("#Hemt5Id", "status:feedline5:hemt:drain-current-bias", newdata, true);
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
        ud_base()
    </script>

    <script>
        function update_plot(div, key, sentdata, trace=0) {
            var data = sentdata[key];
            console.log("Data "+data+" is going to "+div);
            var time = data[2];
            var value = data[1];
            Plotly.extendTraces(div, {x:[[time]], y:[[value]]}, [trace])
        }
    </script>

    <script>
        function update_div(div, key, sentdata, ts=false) {
            var data = sentdata[key];
            console.log("Data "+data+" is going to "+div);
            if (ts) {
                var time = data[2];
                var value = Number(data[1]).toFixed(3);
            } else {
                var value = data;
            }
            $(div).text(value)
        };
    </script>

{% endblock%}
