{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block title %}
  {% if title %}
  {{ title }} - PICTURE-C
  {% else %}
  PICTURE-C Control
  {% endif %}
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">PICTURE-C</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('settings') }}">Settings</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Live Viewer</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('hemts') }}">HEMT</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('ramp_settings') }}">ServerSends</a></li>
        </ul>
    </div>
</nav>

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Orders</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Customers</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Integrations</a></li>
        </ul>
        <ul class="nav flex-column mb-2">
            <li class="nav-item"><a class="nav-link" href="#">Current month</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Last quarter</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Social engagement</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Year-end sale</a></li>
        </ul>
    </div>
</nav>

    <script>
        function updater(key, div_target, plot_target) {
            console.log('called!');
            var source = new EventSource("/listen/"+key);
            source.addEventListener("ts", function (e) {
                var newdata = JSON.parse(e.data);
                console.log("Message: ", newdata[0]);
                var time = [newdata[0]['x']];
                var temp = [newdata[0]['y']];
                Plotly.extendTraces(plot_target, {x: [time], y: [temp]}, [0])
                if (div_target == "-") {
                    console.log('no div target specified');
                } else {
                    $(div_target).text(e.data);
                }
            }, false);
            source.addEventListener("reg", function (e) {
                console.log("Message: ", e.data);
                $(div_target).text(e.data)
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
    </script>

{% endblock%}
