{% extends 'base.html' %}

{% block body %}
    {{ super() }}
    <div id="dash" style="width:600px;height:600px"></div>
    <script>
        var layout = {{ init_layout | safe }}
        Plotly.newPlot('dash', {{ init_data | safe}}, layout);

        function ud_dash() {
            var source = new EventSource("/streamimg");
            source.addEventListener("message", function (e) {
                var newdata = JSON.parse(e.data);
                console.log(newdata);
                Plotly.newPlot('dash', newdata, layout)
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
        ud_dash()
    </script>
{% endblock %}