{% extends 'base.html' %}

{% block content %}
    <div>
        {% for f in form %}
            <form action="{{ url_for('development') }}" method="post">
                {{ f.hidden_tag() }}
                {% for field in f %}
                    {% if field.type == "SelectField" %}
                        {{ field.label }}
                        {{ field() }}
                    {% elif field.type == "StringField" %}
                        {{ field.label }}
                        {{ field() }}
                    {% else %}
                        {{ field() }}
                    {% endif %}
                {% endfor %}
            </form>
        {% endfor %}
    </div>
{% endblock %}
