{% extends 'base.html' %}

{% block content %}
    <div>
        <form action="{{ url_for('development') }}" method="post">
            {{ a.hidden_tag() }}

            {{ a.sim921excitationvaluefield.label }}
            {{ a.sim921excitationvaluefield() }}

            {{ a.submit() }}
        </form>
        <form action="{{ url_for('development') }}" method="post">
            {{ b.hidden_tag() }}

            {{ b.sim921excitationmodefield.label }}
            {{ b.sim921excitationmodefield() }}

            {{ b.submit() }}
        </form>
    </div>
{% endblock %}
