{% extends 'base.html' %}

{% block body %}
    {{ super() }}
    <div style="width:1400px">
        <div id="gate-voltages" style="float:left; width:450px;height:450px;"></div>
        <div id="drain-voltages" style="float:left; width:450px;height:450px;"></div>
        <div id="drain-currents" style="float:left; width:450px;height:450px;"></div>
        <script>
            Plotly.newPlot('gate-voltages', {{ ivgd | safe }}, {{ ivgl | safe }})
            Plotly.newPlot('drain-voltages', {{ ivdd | safe }}, {{ ivdl | safe }})
            Plotly.newPlot('drain-currents', {{ iidd | safe }}, {{ iidl | safe }})
        </script>
    </div>

{% endblock %}