{% extends 'base.html' %}

{% block body %}
    {{ super() }}
    <div class="container" style="float:left; margin-left: 10%; width: 43%; padding: 0px">
        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <div class="row">
                <h2 style="text-align: center">Observation Info</h2>
            </div>
            <div class="row">
                <div class="column" style="text-align: center; float: left; margin-left: 3%; width: 20%">
                    Target: Dark
                </div>
                <div class="column" style="text-align: center; float: left; margin-left: 2%; width: 20%">
                    Exposure Time: HH:MM:SS
                </div>
                <div class="column" style="text-align: center; float: left; margin-left: 2%; width: 20%">
                    SNR Est: 0.0
                </div>
                <div class="column" style="text-align: center; float: left; margin-left: 2%; width: 20%">
                    Count Rate: 0.0
                </div>
            </div>
        </div>
        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <div id="dash" style="margin-left: 2%; margin-top: 2%; margin-right: 2%; margin-bottom: 2%"></div>
        </div>
        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <div class="row">
                <h2 style="text-align: center">Observation Controls</h2>
            </div>
            <div class="row">
                <div class="column" style="float: left; margin-left: 3%; width: 20%">
                    <button>Start/Stop</button>
                </div>
                <div class="column" style="float: left; margin-left: 2%; width: 20%">
                    <button>Wavecal</button>
                </div>
                <div class="column" style="float: left; margin-left: 2%; width: 20%">
                    <button>Take Flat</button>
                </div>
                <div class="column" style="float: left; margin-left: 2%; width: 20%">
                    <button>Take Dark</button>
                </div>
            </div>
        </div>

    </div>

    <div class="container" style="float:right; margin-right: 12%; width: 35%; padding: 0px">
        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <div class="row">
                <h2 style="float: left; margin-left: 5%">Magnet Control: <div id="mag_status" style="display: inline"></div></h2>
            </div>
            <div class="row">
                <div class="column" style="float: left; margin-left: 5%">
                    <form id="startcooldown_form" action="{{ url_for('index') }}" method="post">
                        <button type="submit" id="startcooldown">Start Cooldown</button>
                    </form>
                </div>
                <div class="column" style="display: inline-block">
                    <form id="cancelcooldown_form" action="{{ url_for('index') }}" method="post">
                        <button type="submit" id="cancelcooldown"> Cancel Scheduled Cooldown</button>
                    </form>
                </div>
                <div class="column" style="display: inline-block">
                    <form id="abortcooldown_form" action="{{ url_for('index') }}" method="post">
                        <button type="submit" id="abortcooldown">Abort Cooldown</button>
                    </form>
                </div>
            </div>
            <div class="row" style="padding-top: 2%">
                <form id="{{ cyc.schedulecooldown.name }}_form" action="{{ url_for('index') }}" method="post">
                    <div class="column" style="float: left; margin-left: 5%">
                        <div class="column" style="float: left; margin-left: 4%; width: 25%">
                            {{ cyc.hidden_tag() }}
                            {{ cyc.schedulecooldown.label }}
                        </div>
                        <div class="column" style="float: left; margin-left: 2%; width: 35%">
                            {{ cyc.schedulecooldown() }}
                            <div id="{{ cyc.schedulecooldown.name }}_success" style="float: right"></div>
                        </div>
                        <div class="column" style="text-align: right; float: right; width: 5%">
                            <button type="submit" id="schedulesubmit">Schedule</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="column" id="ButtonData" style="float: left; margin-left: 5%"></div>
            </div>
        </div>

        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <div class="col-lg">
                {% for field in mag %}
                    {% if field.id != "update" %}
                        {% if field.id != "csrf_token" %}
                            <div class="row">
                                <form id="{{ field.name }}_form" action="{{ url_for('index') }}" method="post">
                                    <div class="column" style="float: left; margin-left: 4%; width: 25%">
                                        {{ mag.hidden_tag() }}
                                        {{ field.label }}
                                    </div>
                                    <div class="column" style="float: left; margin-left: 2%; width: 35%">
                                        {{ field() }}
                                        <div id="{{ field.name }}_success" style="float: right"></div>
                                    </div>
                                    <div id="{{ field.name }}_currentval" class="column" style="text-align: right; float:left; width: 10%"></div>
                                    <div class="column" style="text-align: right; float: right; margin-right: 8%; width: 10%">
                                        <button type="submit">Update</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <div class="row" style="width: 98%; height:98%; margin-left: 1%; margin-top: 1%">
                <div id="device_temp"></div>
            </div>
        </div>
    </div>

    <script>
        var layout = {{ init_layout | safe }};
        Plotly.newPlot('dash', {{ init_data | safe}}, {{ init_layout | safe }}, {{ init_dash_config | safe}})
        Plotly.newPlot('device_temp', {{ init_devt_d | safe }}, {{ init_devt_l | safe }}, {{ init_devt_c | safe}})
        // Plotly.newPlot('magnet_current', {{ init_magc_d | safe }}, {{ init_magc_l | safe }})
        // Plotly.newPlot('lhe', {{ init_lhe_d | safe }}, {{ init_lhe_l | safe }})
        // Plotly.newPlot('ln2', {{ init_ln2_d | safe }}, {{ init_ln2_l | safe }})
        // Plotly.newPlot('desired_magnet_current', {{ init_smagc_d | safe }}, {{ init_smagc_l | safe }})
    </script>

    <script>
        function ud_idx() {
            var source = new EventSource("/listener");
            source.addEventListener("message", function (e) {
                var newdata = JSON.parse(e.data);
                // console.log("Message: ", newdata);
                // update_plot("lhe", "status:temps:lhetank", newdata);
                // update_plot("ln2", "status:temps:ln2tank", newdata);
                update_plot("device_temp", "status:temps:mkidarray:temp", newdata);
                // update_plot("desired_magnet_current", "status:device:sim960:current-setpoint", newdata);
                // update_plot("magnet_current", "status:highcurrentboard:current", newdata);
                update_div("mag_status", "status:magnet:state", newdata);

                update_div("soakcurrent_currentval", "device-settings:sim960:soak-current", newdata);
                update_div("soaktime_currentval", "device-settings:sim960:soak-time", newdata);
                update_div("ramprate_currentval", "device-settings:sim960:ramp-rate", newdata);
                update_div("deramprate_currentval", "device-settings:sim960:deramp-rate", newdata);
                update_div("regulationtemperature_currentval", "device-settings:mkidarray:regulating-temp", newdata);
                if (newdata['status:magnet:state'] == "off" && newdata['device-settings:sim960:cooldown-scheduled'] == 'no') {
                    document.getElementById("abortcooldown").disabled = true;
                    document.getElementById("startcooldown").disabled = false;
                    document.getElementById("cancelcooldown").disabled = true;
                    document.getElementById("schedulecooldown").disabled = false;
                    document.getElementById("schedulesubmit").disabled = false;
                } else if (newdata['status:magnet:state'] == "off" && newdata['device-settings:sim960:cooldown-scheduled'] == 'yes') {
                    document.getElementById("abortcooldown").disabled = true;
                    document.getElementById("startcooldown").disabled = false;
                    document.getElementById("cancelcooldown").disabled = false;
                    document.getElementById("schedulecooldown").disabled = true;
                    document.getElementById("schedulesubmit").disabled = true;
                } else if (newdata['status:magnet:state'] == "on") {
                    document.getElementById("abortcooldown").disabled = false;
                    document.getElementById("startcooldown").disabled = true;
                    document.getElementById("cancelcooldown").disabled = true;
                    document.getElementById("schedulecooldown").disabled = true;
                    document.getElementById("schedulesubmit").disabled = true;
                }
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
        ud_idx()

        function realtime_validate_schedule(id) {
            $("#"+id).keyup(function () {
                console.log($(this).val())
                var text = $(this).val();
                $.ajax({
                    type:'POST',
                    url:'/validatesked',
                    data:{
                        id:id,
                        data:text
                    },
                    success:function(d){
                        $("#"+id+"_success").text(d['legal'][1]);
                        if (d['legal'][0] == false) {
                            document.getElementById(id).style.color = 'red'
                        } else {
                            document.getElementById(id).style.color = 'blue'
                        }
                        console.log(d);
                    }
                })
            })
        };
        realtime_validate_schedule("schedulecooldown")

        realtime_validate("soakcurrent")
        realtime_validate("soaktime")
        realtime_validate("ramprate")
        realtime_validate("deramprate")

        subdata("soakcurrent", "/main")
        subdata("soaktime", "/main")
        subdata("ramprate", "/main")
        subdata("deramprate", "/main")
        subdata("regulationtemperature", "/main")
        subdata("startcooldown", "/main")
        subdata("cancelcooldown", "/main")
        subdata("abortcooldown", "/main")
        subdata("schedulecooldown", "/main")
    </script>

{% endblock %}