{% extends 'base.html' %}

{% block content %}
<!--    <h1>-->
<!--        <div><p>PICTURE-C</p></div>-->
<!--    </h1>-->

    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <script type="text/javascript">
        $(function() {
            $('a#test').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/start_cooldown',
                    type: 'post',
                    async: false,
                    success: function (data) {
                        console.log(data, data['msg'])
                        $("#dest").text(data['msg'])
                    },
                    error: function () {
                    }
                });
            });
            $('a#test2').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/abort_cooldown',
                    type: 'post',
                    async: false,
                    success: function (data) {
                        console.log(data, data['msg'])
                        $("#dest2").text(data['msg'])
                        $("#dest").text('')
                        $("#dest3").text('')
                        $("#dest4").text('')
                    },
                    error: function () {
                    }
                });
            });
            $('a#test3').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/schedule_cooldown_at',
                    type: 'post',
                    data: {'time': $('#schedule_time')[0].value},
                    async: false,
                    success: function (data) {
                        // console.log(data, data['msg'])
                        $("#dest3").text(data['msg'])
                    },
                    error: function () {
                    }
                });
            });
            $('a#test4').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/schedule_be_cold_at',
                    type: 'post',
                    data: {'time': $('#be_cold_time')[0].value},
                    async: false,
                    success: function (data) {
                        console.log(data, data['msg'])
                        $("#dest4").text(data['msg'])
                    },
                    error: function () {
                        console.log('failure')
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        function aq(key, qtype='init', dtype='line') {
            $.ajax({
                url: '/sensor_plot/'+key+'/'+qtype+'/'+dtype,
                type: 'post',
                async: false,
                success: function(response) {
                    console.log('Success')
                },
                error: function() {
                    console.log('Error')
                }
            });
        }

        aq('status:highcurrentboard:current');
    </script>

    <div id="test_pilot"></div>


<!--    <div style="width:1500px">-->
<!--    <div style="float:left; width:1000px; height:500px">-->
<!--        <div id="device-temp" style="float:left;width:450px;height:450px"></div>-->
<!--        <script>-->
<!--            function init_device_temp() {-->
<!--                var time = 0;-->
<!--                var temp = 0;-->

<!--                $.ajax({-->
<!--                    url: '/device_t',-->
<!--                    type: 'post',-->
<!--                    async: false,-->
<!--                    success: function(response) {-->
<!--                        time = response['times']-->
<!--                        temp = response['temps']-->
<!--                    },-->
<!--                    error: function() {-->
<!--                        time = -1-->
<!--                        temp = -1-->
<!--                    }-->
<!--                });-->

<!--                var trace0 = {-->
<!--                    x: [time],-->
<!--                    y: [temp],-->
<!--                    name: 'Device T',-->
<!--                    mode: 'line'-->
<!--                };-->
<!--                console.log(time, temp)-->
<!--                var data = [trace0];-->
<!--                return data;-->
<!--            }-->

<!--            function grabdevicetemp() {-->
<!--                var time = [];-->
<!--                var temp = [];-->
<!--                $.ajax({-->
<!--                    url: '/device_t',-->
<!--                    type: 'post',-->
<!--                    async: false,-->
<!--                    success: function(response) {-->
<!--                        time = response['times']-->
<!--                        temp = response['temps']-->
<!--                    },-->
<!--                    error: function() {-->
<!--                        time = [-1]-->
<!--                        temp = [-1]-->
<!--                    }-->
<!--                });-->
<!--                console.log(time, temp)-->
<!--                return [[time], [temp]];-->
<!--            }-->

<!--            var tank_data = init_device_temp()-->
<!--            var layout = {-->
<!--                title:'Device T'-->
<!--            };-->

<!--            Plotly.newPlot('device-temp', tank_data, layout);-->

<!--            var interval = setInterval(function () {-->
<!--                var new_data = grabdevicetemp();-->
<!--                Plotly.extendTraces('device-temp', {-->
<!--                    x: [new_data[0]],-->
<!--                    y: [new_data[1]]-->
<!--                }, [0])-->
<!--            }, 10000);-->
<!--        </script>-->

<!--        <div id="magnet-current" style="float:left;width:450px;height:450px"></div>-->
<!--        <script>-->
<!--            function init_current() {-->
<!--                var time = 0;-->
<!--                var current = 0;-->

<!--                $.ajax({-->
<!--                    url: '/magnet_current',-->
<!--                    type: 'post',-->
<!--                    async: false,-->
<!--                    success: function(response) {-->
<!--                        time = response['times']-->
<!--                        current = response['currents']-->
<!--                    },-->
<!--                    error: function() {-->
<!--                        time = -1-->
<!--                        current = -1-->
<!--                    }-->
<!--                });-->

<!--                var trace0 = {-->
<!--                    x: [time],-->
<!--                    y: [current],-->
<!--                    name: 'Magnet Current',-->
<!--                    mode: 'line'-->
<!--                };-->
<!--                console.log(time, current)-->
<!--                var data = [trace0];-->
<!--                return data;-->
<!--            }-->

<!--            function grabcurrent() {-->
<!--                var time = [];-->
<!--                var currents = [];-->
<!--                $.ajax({-->
<!--                    url: '/magnet_current',-->
<!--                    type: 'post',-->
<!--                    async: false,-->
<!--                    success: function(response) {-->
<!--                        time = response['times']-->
<!--                        currents = response['currents']-->
<!--                    },-->
<!--                    error: function() {-->
<!--                        time = [-1]-->
<!--                        currents = [-1]-->
<!--                    }-->
<!--                });-->
<!--                console.log(time, currents)-->
<!--                return [[time], [currents]];-->
<!--            }-->

<!--            var tank_data = init_current()-->
<!--            var layout = {-->
<!--                title:'Magnet Current'-->
<!--            };-->

<!--            Plotly.newPlot('magnet-current', tank_data, layout);-->

<!--            var interval = setInterval(function () {-->
<!--                var new_data = grabcurrent();-->
<!--                Plotly.extendTraces('magnet-current', {-->
<!--                    x: [new_data[0]],-->
<!--                    y: [new_data[1]]-->
<!--                }, [0])-->
<!--            }, 10000);-->
<!--        </script>-->
<!--    </div>-->

    <div style="float:left">
        <div style="padding:15px">Magnet Commands</div>

        <div style="padding:15px">
            <a href="#" id="test" style="float:left">{{ form.start_cooldown() }}</a>
            <div id="dest" style="float:left"></div>
        </div>

        <div style="padding:15px">
            <a href="#" id="test2" style="float:left">{{ form.abort_cooldown() }}</a>
            <div id="dest2" style="float:left"></div>
        </div>

        <div style="padding:15px">
            <div><div style="float:left" id="t1">{{form.schedule_time.label }} {{ form.schedule_time() }}</div><div style="float:left"><a href="#" id="test3" style="float:left">{{ form.schedule_cooldown() }}</a></div></div>
            <div id="dest3"></div>
            <div><div style="float:left" id="t2">{{ form.be_cold_time.label }} {{ form.be_cold_time() }}</div><div style="float:left"><a href="#" id="test4" style="float:left">{{ form.schedule_cooldown() }}</a></div></div>
            <div id="dest4"></div>
        </div>
    </div>
    </div>

<!--    <div style="width:1000px; height:500px">-->
<!--        <div id="ln2-tank-temp" style="float:left;width:450px;height:450px"></div>-->
<!--        <script>-->
<!--            function init_tank_temps_n2() {-->
<!--                var time = 0;-->
<!--                var temp = 0;-->

<!--                $.ajax({-->
<!--                    url: '/tempvals_n2',-->
<!--                    type: 'post',-->
<!--                    async: false,-->
<!--                    success: function(response) {-->
<!--                        time = response['times']-->
<!--                        temp = response['temps']-->
<!--                    },-->
<!--                    error: function() {-->
<!--                        time = -1-->
<!--                        temp = -1-->
<!--                    }-->
<!--                });-->

<!--                var trace0 = {-->
<!--                    x: [time],-->
<!--                    y: [temp],-->
<!--                    name: 'LN2 Tank',-->
<!--                    mode: 'line'-->
<!--                };-->
<!--                console.log(time, temp)-->
<!--                var data = [trace0];-->
<!--                return data;-->
<!--            }-->

<!--            function grabtanktemps_n2() {-->
<!--                var time = [];-->
<!--                var temp = [];-->
<!--                $.ajax({-->
<!--                    url: '/tempvals_n2',-->
<!--                    type: 'post',-->
<!--                    async: false,-->
<!--                    success: function(response) {-->
<!--                        time = response['times']-->
<!--                        temp = response['temps']-->
<!--                    },-->
<!--                    error: function() {-->
<!--                        time = [-1]-->
<!--                        temp = [-1]-->
<!--                    }-->
<!--                });-->
<!--                console.log(time, temp)-->
<!--                return [[time], [temp]];-->
<!--            }-->

<!--            var tank_data = init_tank_temps_n2()-->
<!--            var layout = {-->
<!--                title:'LN2 T'-->
<!--            };-->

<!--            Plotly.newPlot('ln2-tank-temp', tank_data, layout);-->

<!--            var interval = setInterval(function () {-->
<!--                var new_data = grabtanktemps_n2();-->
<!--                Plotly.extendTraces('ln2-tank-temp', {-->
<!--                    x: [new_data[0]],-->
<!--                    y: [new_data[1]]-->
<!--                }, [0])-->
<!--            }, 10000);-->
<!--        </script>-->

<!--        <div id="lhe-tank-temp" style="float:left;width:450px;height:450px"></div>-->
<!--        <script>-->
<!--            function init_tank_temps_he() {-->
<!--                var time = 0;-->
<!--                var temp = 0;-->

<!--                $.ajax({-->
<!--                    url: '/tempvals_he',-->
<!--                    type: 'post',-->
<!--                    async: false,-->
<!--                    success: function(response) {-->
<!--                        time = response['times']-->
<!--                        temp = response['temps']-->
<!--                    },-->
<!--                    error: function() {-->
<!--                        time = -1-->
<!--                        temp = -1-->
<!--                    }-->
<!--                });-->

<!--                var trace0 = {-->
<!--                    x: [time],-->
<!--                    y: [temp],-->
<!--                    name: 'LHe Tank',-->
<!--                    mode: 'line'-->
<!--                };-->
<!--                console.log(time, temp)-->
<!--                var data = [trace0];-->
<!--                return data;-->
<!--            }-->

<!--            function grabtanktemps_he() {-->
<!--                var time = [];-->
<!--                var temp = [];-->
<!--                $.ajax({-->
<!--                    url: '/tempvals_he',-->
<!--                    type: 'post',-->
<!--                    async: false,-->
<!--                    success: function(response) {-->
<!--                        time = response['times']-->
<!--                        temp = response['temps']-->
<!--                    },-->
<!--                    error: function() {-->
<!--                        time = [-1]-->
<!--                        temp = [-1]-->
<!--                    }-->
<!--                });-->
<!--                console.log(time, temp)-->
<!--                return [[time], [temp]];-->
<!--            }-->

<!--            var tank_data = init_tank_temps_he()-->
<!--            var layout = {-->
<!--                title:'LHe T'-->
<!--            };-->

<!--            Plotly.newPlot('lhe-tank-temp', tank_data, layout);-->

<!--            var interval = setInterval(function () {-->
<!--                var new_data = grabtanktemps_he();-->
<!--                Plotly.extendTraces('lhe-tank-temp', {-->
<!--                    x: [new_data[0]],-->
<!--                    y: [new_data[1]]-->
<!--                }, [0])-->
<!--            }, 10000);-->
<!--        </script>-->
<!--    </div>-->

<!--    <div>-->
<!--        <a href="{{ url_for('index') }}">Refresh</a>-->
<!--    </div>-->
{% endblock %}