{% extends 'base.html' %}

{% block content %}
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <script type="text/javascript">
        function newdata(key, title, typ) {
                var update = [];
                $.ajax({
                    url:'/sensor_plot/'+key+'/'+title+'/'+typ,
                    type: 'post',
                    async: false,
                    success: function(data) {
                        update = JSON.parse(data)
                        console.log('updated!')
                    },
                    error: function() {
                        console.log('New data could not be obtained')
                    }
                });
                return update;
            }
    </script>

    <script type="text/javascript">
        $(function() {
            $('a#test').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/start_cooldown',
                    type: 'post',
                    async: false,
                    success: function (data) {
                        console.log(data, data['msg'])
                        $("#dest").text(data['msg'])
                        $("#dest2").text('')
                        $("#dest3").text('')
                        $("#dest4").text('')
                    },
                    error: function () {
                    }
                });
            });
            $('a#test2').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/abort_cooldown',
                    type: 'post',
                    async: false,
                    success: function (data) {
                        console.log(data, data['msg'])
                        $("#dest2").text(data['msg'])
                        $("#dest").text('')
                        $("#dest3").text('')
                        $("#dest4").text('')
                    },
                    error: function () {
                    }
                });
            });
            $('a#test3').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/cancel_scheduled_cooldown',
                    type: 'post',
                    async: false,
                    success: function (data) {
                        console.log(data, data['msg'])
                        $("#dest3").text(data['msg'])
                        $("#dest").text('')
                        $("#dest2").text('')
                        $("#dest4").text('')
                    },
                    error: function () {
                    }
                });
            });
            $('a#test4').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/schedule_be_cold_at',
                    type: 'post',
                    data: {'time': $('#be_cold_time')[0].value},
                    async: false,
                    success: function (data) {
                        console.log(data, data['msg'])
                        $("#dest4").text(data['msg'])
                        $("#dest").text('')
                        $("#dest2").text('')
                        $("#dest3").text('')
                    },
                    error: function () {
                        console.log('failure')
                    }
                });
            });
        });
    </script>
    <div style="width:1500px">
    <div style="float:left; width:1000px; height:500px">
        <div id="device_temp" style="float:left;width:450px;height:450px"></div>
        <script>
            Plotly.newPlot('device_temp', {{ init_devt_d | safe }}, {{ init_devt_l | safe }})

            var interval = setInterval(function() {
                var extend_vals = newdata('status:temps:mkidarray:temp','-','new');
                Plotly.extendTraces('device_temp', {x:[extend_vals[0].x], y:[extend_vals[0].y]}, [0])
            }, 1000, 3600)
        </script>

        <div id="magnet_current" style="float:left;width:450px;height:450px"></div>
        <script>
            Plotly.newPlot('magnet_current', {{ init_magc_d | safe }}, {{ init_magc_l | safe }})

            var interval = setInterval(function() {
                var extend_vals = newdata('status:highcurrentboard:current','-','new');
                Plotly.extendTraces('magnet_current', {x:[extend_vals[0].x], y:[extend_vals[0].y]}, [0])
            }, 1000, 3600)
        </script>


    <div style="float:left">
        <div style="padding:15px">Magnet Commands</div>

        <div style="padding:15px">
            <a href="#" id="test" style="float:left">{{ form.start_cooldown() }}</a>
            <div id="dest" style="float:left"></div>
        </div>

        <div style="padding:15px">
            <a href="#" id="test2" style="float:left">{{ form.abort_cooldown() }}</a>
            <div id="dest2" style="float:left"></div>
        </div>

        <div style="padding:15px">
            <div><div style="float:left" id="t2">{{ form.be_cold_time.label }} {{ form.be_cold_time() }}</div><div style="float:left"><a href="#" id="test4" style="float:left">{{ form.schedule_cooldown() }}</a></div></div>
            <div id="dest4"></div>
            <a href="#" id="test3" style="float:left">{{ form.cancel_scheduled() }}</a>
            <div id="dest3"></div>
        </div>
    </div>
    </div>

    <div style="width:1000px; height:500px">

        <div id="lhe_tank_temp" style="float:left;width:450px;height:450px"></div>
        <script>
            Plotly.newPlot('lhe_tank_temp', {{ init_lhe_d | safe }}, {{ init_lhe_l | safe }})

            var interval = setInterval(function() {
                var extend_vals = newdata('status:temps:lhetank','-','new');
                Plotly.extendTraces('lhe_tank_temp', {x:[extend_vals[0].x], y:[extend_vals[0].y]}, [0])
            }, 1000, 3600)
        </script>

        <div id="ln2_tank_temp" style="float:left;width:450px;height:450px"></div>
        <script>
            Plotly.newPlot('ln2_tank_temp', {{ init_ln2_d | safe }}, {{ init_ln2_l | safe }})

            var interval = setInterval(function() {
                var extend_vals = newdata('status:temps:ln2tank','-','new');
                Plotly.extendTraces('ln2_tank_temp', {x:[extend_vals[0].x], y:[extend_vals[0].y]}, [0])
            }, 1000, 3600)
        </script>


    </div>

<!--    <div>-->
<!--        <a href="{{ url_for('index') }}">Refresh</a>-->
<!--    </div>-->
{% endblock %}