{% extends 'base.html' %}

{% block body %}
    {{ super() }}

    <div class="container" style="float:left; margin-left: 10%; margin-right: 12%; padding: 0px">
        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <h2>SIM 921</h2>
            <div id="sim921_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>SIM 960</h2>
            <div id="sim960_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Lakeshore 240</h2>
            <div id="lakeshore240_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Currentduino</h2>
            <div id="currentduino_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Hemtduino</h2>
            <div id="hemtduino_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>PICTURE-C Director</h2>
            <div id=picc_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Quench Monitor</h2>
            <div id="quenchmon_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Redis</h2>
            <div id="redis_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
        </div>
    </div>

    <script>
        function jstream(service) {
            var source = new EventSource("/journalctl_streamer/"+service);
            source.addEventListener("message", function (e) {
                // console.log("Message: ", e.data);
                var theDiv = document.getElementById(service+"_log");
                theDiv.innerHTML += "<div style='width: 250%'>"+e.data+"</div>";
                theDiv.scrollTop = theDiv.scrollHeight;
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
        jstream("sim921");
        jstream("sim960");
        jstream("lakeshore240");
        jstream("currentduino");
        jstream("hemtduino");
        jstream("picc");
        jstream("quenchmon");
        jstream("redis");
    </script>


{% endblock %}