{% extends 'base.html' %}

{% block body %}
    {{ super() }}
    <div class="container" style="float:left; margin-left: 10%; max-width: 78%; padding: 0px">
        <div class="column" style="float:left; width: 33%">
            <div class="row" id="device_temp"></div>

            <div class="row" id="desired_magnet_current"></div>
        </div>

        <div class="column" style="float: left; width: 33%">
            <div class="row" id="lhe"></div>

            <div class="row" id="ln2"></div>
        </div>
        <div class="column" style="float: left; width: 33%">
            <div class="row" id="magnet_current"></div>
        </div>
    </div>

    <script>
        Plotly.newPlot('device_temp', {{ init_devt_d | safe }}, {{ init_devt_l | safe }})
        Plotly.newPlot('magnet_current', {{ init_magc_d | safe }}, {{ init_magc_l | safe }})
        Plotly.newPlot('lhe', {{ init_lhe_d | safe }}, {{ init_lhe_l | safe }})
        Plotly.newPlot('ln2', {{ init_ln2_d | safe }}, {{ init_ln2_l | safe }})
        Plotly.newPlot('desired_magnet_current', {{ init_smagc_d | safe }}, {{ init_smagc_l | safe }})
    </script>

    <script>
        function ud_idx() {
            var source = new EventSource("/listener");
            source.addEventListener("message", function (e) {
                var newdata = JSON.parse(e.data);
                // console.log("Message: ", newdata);
                update_plot("lhe", "status:temps:lhetank", newdata);
                update_plot("ln2", "status:temps:ln2tank", newdata);
                update_plot("device_temp", "status:temps:mkidarray:temp", newdata);
                update_plot("desired_magnet_current", "status:device:sim960:current-setpoint", newdata);
                update_plot("magnet_current", "status:highcurrentboard:current", newdata);
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
        ud_idx()
    </script>

{% endblock %}