{% extends 'base.html' %}

{% block scripts %}
    {{ super() }}

{% endblock %}

{% block body %}
    {{ super() }}

    <div style="margin-left: 150px">
        <form action="{{ url_for('test_page') }}" method="post">
            {{ a.hidden_tag() }}
            {{ a.startcooldown() }}
        </form>
        <form action="{{ url_for('test_page') }}" method="post">
            {{ a.hidden_tag() }}
            {{ a.abortcooldown() }}
        </form>
        <form action="{{ url_for('test_page') }}" method="post">
            {{ a.hidden_tag() }}
            {{ a.cancelcooldown() }}
        </form>
        <form action="{{ url_for('test_page') }}" method="post">
            {{ a.hidden_tag() }}
            {{ a.schedulecooldown.label }}
            {{ a.schedulecooldown() }}
            {{ a.schedulesubmit() }}
        </form>
        <form action="{{ url_for('test_page') }}" method="post">
            {{ a.hidden_tag() }}
            {{ a.soakcurrent.label }}
            {{ a.soakcurrent() }}
            {{ a.update() }}
        </form>
        <form action="{{ url_for('test_page') }}" method="post">
            {{ a.hidden_tag() }}
            {{ a.soaktime.label }}
            {{ a.soaktime() }}
            {{ a.update() }}
        </form>
        <form action="{{ url_for('test_page') }}" method="post">
            {{ a.hidden_tag() }}
            {{ a.ramprate.label }}
            {{ a.ramprate() }}
            {{ a.update() }}
        </form>
        <form action="{{ url_for('test_page') }}" method="post">
            {{ a.hidden_tag() }}
            {{ a.deramprate.label }}
            {{ a.deramprate() }}
            {{ a.update() }}
        </form>
        <form action="{{ url_for('test_page') }}" method="post">
            {{ a.hidden_tag() }}
            {{ a.regulationtemperature.label }}
            {{ a.regulationtemperature() }}
            {{ a.update() }}
        </form>
    </div>

{% endblock %}