{% extends 'base.html' %}

{% block body %}
    {{ super() }}
    <div class="container" style="float:left; margin-left: 10%; width: 40%; padding: 0px">
        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <div class="row">
                <h2 style="text-align: center">Heat Switch</h2>
            </div>
            <div class="row" style="text-align: center">
                <div style="display: inline-block">
                    <form id="open_form" action="{{ url_for('settings') }}" method="post">
                        <button type="submit" id="open" value="open">Open</button>
                    </form>
                </div>
                <div style="display: inline-block">
                    <form id="close_form" action="{{ url_for('settings') }}" method="post">
                        <button type="submit" id="close" value="close">Close</button>
                    </form>
                </div>
            </div>
        </div>

        {% for sform in forms %}
        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <div class="col-lg">
                <div class="row">
                    <h2 style="text-align: center"> {{ sform.title }}</h2>
                </div>
                {% for field in sform %}
                    {% if field.id != "csrf_token" %}
                        <div class="row">
                            <form id="{{ field.id }}_form" action="{{ url_for('settings') }}" method="post">
                                <div class="column" style="float: left; margin-left: 4%; width: 25%">
                                    {{ sform.hidden_tag() }}
                                    {{ field.label }}
                                </div>
                                <div class="column" style="float: left; margin-left: 2%; width: 35%">
                                    {{ field() }}
                                    <div id="{{ field.id }}_success" style="float: right"></div>
                                </div>
                                <div id="{{ field.id }}_currentval" class="column" style="text-align: right; float:left; width: 10%"></div>
                                <div class="column" style="text-align: right; float: right; margin-right: 5%; width: 10%">
                                    <button type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <h5>
                &#9888 &#9888 &#9888 DO NOT CHANGE &#9888 SETTINGS UNLESS YOU KNOW WHAT YOU ARE DOING. AND THEN STILL DON'T CHANGE THEM!
                CALL NOAH TO CONFIRM YOU KNOW WHAT YOU'RE DOING AND WON'T BREAK ANYTHING &#9888 &#9888 &#9888
            </h5>
        </div>

    </div>

    <div class="container" style="float:right; margin-right: 12%; max-width: 38%; padding: 0px">
        <h2 style="text-align: center">Other Settings Go Here</h2>
    </div>

    <script>
        function update_settings_page() {
            var source = new EventSource("/listener");
            source.addEventListener("message", function (e) {
                var newdata = JSON.parse(e.data);
                // console.log("Message: ", newdata);

                update_multiple_divs({{ updatingkeys | safe}}, newdata)

                if (newdata['device-settings:currentduino:heatswitch'] == "open") {
                    document.getElementById("open").disabled = true;
                    document.getElementById("close").disabled = false;
                } else {
                    document.getElementById("open").disabled = false;
                    document.getElementById("close").disabled = true;
                }
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
        update_settings_page()

        register_realtime_validation({{ rtvkeys | safe }})
        register_submitters({{ subkeys | safe }})

    </script>



{% endblock %}