{% extends 'base.html' %}

{% block scripts %}
    {{ super() }}

{% endblock %}

{% block body %}
    {{ super() }}

    <div class="container" style="float:left; margin-left: 10%; width: 40%; padding: 0px">
        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <h1>Log viewing here</h1>
            <div id="sim921_log" style="margin-left:3%; height:200px;width:90%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <div id="sim960_log" style="margin-left:3%; height:200px;width:90%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
        </div>
    </div>

    <script>
        function jstream(service) {
            var source = new EventSource("/journalctl_streamer/"+service);
            source.addEventListener("message", function (e) {
                // console.log("Message: ", e.data);
                var theDiv = document.getElementById(service+"_log");
                theDiv.innerHTML += "<div style='width: 250%'>"+e.data+"</div>";
                theDiv.scrollTop = theDiv.scrollHeight;
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
        jstream("sim921");
        jstream("sim960");
    </script>

{% endblock %}