TODO: Enable restarting

[Unit]
Description=Currentduino Agent

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/kids/anaconda3/bin/python /home/kids/Documents/repositories/picturec/picturec/currentduinoAgent.py
