[Unit]
Description=Currentduino Agent

[Install]
WantedBy=picc.service
WantedBy=quenchmon.service

[Service]
Type=simple
ExecStart=/home/mazinlab/anaconda3/envs/picc/bin/currentduinoAgent.py
WorkingDirectory=/home/mazinlab/picturec
User=mazinlab
RestartSec=100ms
Restart=always