[Unit]
Description=Hemtduino Agent

[Install]
WantedBy=picc.service

[Service]
Type=simple
ExecStart=/home/mazinlab/.local/bin/hemttempAgent
WorkingDirectory=/home/mazinlab/picturec
user=mazinlab
group=mazingroup
RestartSec=100ms
Restart=always