# TODO: Enable automatic restarting

[Unit]
Description=Hemtduino Agent

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/kids/anaconda3/bin/python /picturec/picturec/hemttempAgent.py
