[Unit]
Description=LakeShore240 Agent

[Install]
WantedBy=picc.service

[Service]
Type=simple
ExecStart=/home/mazinlab/.local/bin lakeshore240Agent
WorkingDirectory=/home/mazinlab/picturec
user=mazinlab
group=mazingroup
RestartSec=100ms
Restart=always
#KillMode=control-group
#KillSignal=SIGTERM
#SendSIGKILL=yes