[Unit]
Description=Pic-C Control
Wants=hemtduino.service
Wants=currentduino.service
Wants=lakeshore240.service
Wants=sim921.service
Wants=sim960.service
Wants=quenchmon.service
After=redis.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/mazinlab/anaconda3/envs/picc/bin/piccDirector.py
WorkingDirectory=/home/mazinlab/picturec
User=mazinlab
RestartSec=100ms
Restart=always