[Unit]
Description=Quench Monitor
After=

[Install]
WantedBy=picc.service

[Service]
Type=simple
ExecStart=/home/mazinlab/.local/bin/quenchAgent
WorkingDirectory=/home/mazinlab/picturec
user=mazinlab
group=mazingroup
RestartSec=100ms
Restart=always
#KillMode=control-group
#KillSignal=SIGTERM
#SendSIGKILL=yes