[Unit]
Description=Quench Monitor
After=currentduino.service
Wants=currentduino.service

[Install]
WantedBy=picc.service
WantedBy=sim960.service

[Service]
Type=simple
ExecStart=/home/mazinlab/anaconda3/envs/picc/bin/quenchAgent.py
WorkingDirectory=/home/mazinlab/picturec
User=mazinlab
RestartSec=100ms
Restart=always