[Unit]
Description=SIM960 Agent
Wants=quenchmon.service
After=quenchmon.service

[Install]
WantedBy=picc.service

[Service]
Type=simple
ExecStart=/home/mazinlab/anaconda3/envs/picc/bin/sim960Agent.py
WorkingDirectory=/home/mazinlab/picturec
User=mazinlab
RestartSec=100ms
Restart=always