{% extends 'base.html' %}

{% block content %}
    <h1>
        <div><p>Welcome to the PICTURE-C Dashboard</p></div>
    </h1>
    <head><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script></head>
    <div>
        <table style="border-collapse: collapse; display: inline">
            <caption style="text-align: center">Thermometry</caption>
            <thead>
                {% for header in table_headers %}
                    <th style="text-align:center; border: 1px solid black; padding:10px"> {{ header }} </th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in table_data %}
                    <tr>
                    {%for value in row %}
                        <td style="text-align:center; border: 1px solid black; padding:10px"> {{ value }} </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table style="border-collapse: collapse; display: inline">
            <caption style="text-align: center"> Magnet </caption>
            {% for row in current_tableh %}
            <tr>
                {% for value in row %}
                <td style="text-align:center; border: 1px solid black; padding:10px"> {{ value }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <table style="border-collapse: collapse; display: inline">
            <caption style="text-align: center">HEMTs</caption>
            <thead>
                {% for header in hemt_tableh %}
                    <th style="text-align:center; border: 1px solid black; padding:10px"> {{ header }} </th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in hemt_tablev %}
                    <tr>
                    {%for value in row %}
                        <td style="text-align:center; border: 1px solid black; padding:10px">
                            {{ value }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h1>
        <a href="{{ url_for('index') }}"><button> Refresh </button></a>
    </h1>
{% endblock %}