{% extends 'base.html' %}

{% block content %}
    <div>Here's where the PICTURE-C Info will go. </div>
    <div>Hope it's good!</div>
    <h1>
        <a href="{{ url_for('index') }}"><button> Home </button></a>
    </h1>

    <div>
        Here is the AJAX variable to test! ->
        <span id="id{{ anim_var[0] }}">
            {{ anim_var[0] }}
        </span>
        <span id="dest{{ anim_var[0] }}">
            <a href="javascript:doStuff(
            '#id{{ anim_var[0] }}',
            '#dest{{ anim_var[0] }}',
            '{{ anim_var[0] }}');"> Replace this </a>
        </span>
    </div>
{% endblock %}

