{% extends 'base.html' %}

{% block content %}
    <form action="{{ url_for('settings') }}" method="post">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.type == "SelectField" %}
                <div style="padding: 10px">
                    {{ field.label}}
                    {{ field() }}
                </div>
            {% endif %}
        {% endfor %}

        <div style="padding: 10px">
            {{ form.submit() }}
        </div>

        <div style="padding: 10px">
            {{ messages }}
        </div>
    </form>
{% endblock %}